# Ignore contents of Debug, SD and INIT directories as well as any doxygen output.
Debug/
SDCard/
INIT/
doxygen/

# Ignore binary add-in files
*.[gG]1[aA]

# Ignore workspace and simulator preferences
*.dlw
*.dlr

# Ignore build script
FXSH_Build.bat
